.App {
  text-align: center;
  margin: 1rem 8rem;
  border-radius: 1rem;
}

.p-datatable {
  font-family: "Inter", Roboto, sans-serif;
  font-size: 12px;
}

.p-datatable .p-column-header-content {
  font-weight: 600;
  font-size: 14px;
}

.p-datatable .p-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chartCard {
  min-height: 3rem;
}

.p-inputtext-sm {
  font-size: 0.65rem;
}
